<div class="text-center pt-5">
    <p class="text-muted">Can My Computer Run this game?</p>
</div>
<div class="row mt-4">
    <div class="col-md-8">
        <h1 class="text-white mb-5">SYSTEM REQUIREMENTS</h1>
        <table class="table table-bordered text-white">
            <tr>
                <td>
                    <h5 class="text-warning">OS :</h5>
                    <p>Windows 7 64-bit only (No OSX support at this time</p>
                </td>
                <td>
                    <h5 class="text-warning">Processor :</h5>
                    <p>Intel Core 2 Duo @2.4 GHZ or AMD Athlon x2 @2.8 GHZ</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="text-warning">Memory :</h5>
                    <p>4 GB RAM</p>
                </td>
                <td>
                    <h5 class="text-warning">Storage :</h5>
                    <p>8 GB available space</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h5 class="text-warning">Graphics :</h5>
                    <p>
                        NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB
                        Directx11 (Shader Model 5)
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
