<%- include('layouts/header') %>
    <!-- navbar -->
    <section id="header">
        <nav id="nav-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center">
                            <a href="http://localhost:9000" class="back-button">&lt;</a>
                            <img class="img-fluid" src="/assets/logo.png" alt="">
                            <h2>Rock Paper Scissor</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex justify-content-around">
                            <div class="display-score"><i class="fas fa-user-tie"></i> <span id="player-score">-</span></div>
                            <div class="display-score"><i class="fas fa-robot"></i> <span id="com-score">-</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>            
    </section>
    <!-- main section -->
    <section id="game-play">
        <div class="container">
            <div class="row text-center playing-box">
                <div class="col-sm-5">
                    <h3>Player 1</h3>
                    <div id="user" class="d-flex flex-column align-items-center">
                        <button
                            class="choice choice-rock"
                            type="button"
                            data-choice="rock"
                        >
                            <img class="rps" src="/assets/batu.png" alt="" />
                        </button>
                        <button
                            class="choice choice-paper"
                            type="button"
                            data-choice="paper"
                        >
                            <img class="rps" src="/assets/kertas.png" alt="" />
                        </button>
                        <button
                            class="choice choice-scissor"
                            type="button"
                            data-choice="scissor"
                        >
                            <img class="rps" src="/assets/gunting.png" alt="" />
                        </button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h1 id="versus" class="result">VS</h1>
                    <h3 id="userWin" class="result view-result">Player Win</h3>
                    <h3 id="comWin" class="result view-result">Computer Win</h3>
                    <h3 id="draw" class="result view-result">Draw</h3>
                </div>
                <div class="col-sm-5">
                    <h3>Computer</h3>
                    <div id="com" class="d-flex flex-column align-items-center">
                        <button
                            class="choice choice-rock"
                            type="button"
                            data-choice="rock"
                            disabled
                        >
                            <img class="rps" src="/assets/batu.png" alt="" />
                        </button>
                        <button
                            class="choice choice-rock"
                            type="button"
                            data-choice="paper"
                            disabled
                        >
                            <img class="rps" src="/assets/kertas.png" alt="" />
                        </button>
                        <button
                            class="choice choice-rock"
                            type="button"
                            data-choice="scissor"
                            disabled
                        >
                            <img class="rps" src="/assets/gunting.png" alt="" />
                        </button>
                    </div>
                </div>
        
                <!-- reset -->
                <div class="col-md-12">
                    <button id="reset-btn">
                        <img class="reset" src="/assets/refresh.png" alt="" />
                    </button>
                </div>
            </div>
        </div>            
    </section>

<%- include('layouts/footer') %>