<%- include('layouts/header') %>
    <!-- main section -->
    <section id="header">
        <!-- navbar -->
        <div data-include="/views/header/navbar.html"></div>

        <!-- main content -->
        <div data-include="/views/header/main-content.html"></div>
    </section>

    <!-- about and gallery section -->
    <section id="gallery">
        <div class="container">
            <div class="row gallery-wrapper">
                <!-- gallery content -->
                <div data-include="/views/gallery/gallery-content.html"></div>
    
                <!-- gallery carousel -->
                <div data-include="/views/gallery/gallery-carousel.html"></div>
            </div>
        </div>
    </section>

    <!-- features -->
    <section id="features">
        <div class="container">
            <div data-include="/views/features/features.html"></div>
        </div>
    </section>

    <!-- requirements -->
    <section id="requirements">
        <div class="container">
            <div data-include="/views/requirements/requirements.html" ></div>
        </div>
    </section>

    <!-- top-score -->
    <section id="top-score">
        <div class="container">
            <div data-include="/views/top-score/top-score.html"></div>
        </div>
    </section>

    <!-- newsletter -->
    <section id="newsletter">
        <div class="container text-white pt-5">
            <div data-include="/views/newsletter/newsletter.html"></div>
        </div>
    </section>

<%- include('layouts/footer') %>