<!-- main heading -->
<h1 class="main-heading">PLAY TRADITIONAL GAME</h1>

<!-- description heading -->
<h3 class="desc-heading">Experience new traditional game play</h3>

<!-- button for action -->
<div class="text-center button-main">
    <a href="http://localhost:9000/game" class="btn btn-warning btn-lg">Play Now</a>
</div>

<!-- button scroll -->
<div class="text-center scroll-main">
    <a href="#" class="text-decoration-none text-white"
        ><span class="d-block">THE STORY</span>
        <img src="/assets/scroll-down.svg" alt="" srcset="" />
    </a>
</div>