<div class="col-md-8 gallery-carousel">
    <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
    >
        <ol class="carousel-indicators">
            <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600.jpg" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/assets/carousel1.jpg" class="d-block w-100" alt="carousel1.jpg" />
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="/assets/carousel2.png" class="d-block w-100" alt="carousel2.png" />
            </div>
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
